body.html{height: 100%;}


body{
    background: #E6E6FA;
    margin: 20px;
    padding: 20px;
    font-family: sans-serif;
}

#maindiv
{
    background: white;
    border-color: black;
    padding: 20px;
    margin: 5px;
}
#maindiv button
{
    border: none;
    padding: 15px;
    margin: 3px;
    background: white;
}
#maindiv button:hover {
    color: red;
    background: #E6E6FA;
}

#maindiv button:active {
    color: blue;
}
nav .fa{
    padding: 10px;
    margin: 2px;
    color: grey;
}
nav a{
    float:right;
}
h1,h2
{font-weight: lighter;}
 table
{
    width: 100%;
    padding: 1%;
    margin: 0.3%;
    border: none;
    background: #E6E6FA;
}
thead th {
    padding: 10px;
    background: #ADD8E6;
    font-size: smaller;
}
tbody td {
    padding: 5px;
    font-size: smaller;
    padding: 10px;
}
#maindiv #plans .masterdiv .heading{
   font-weight: bolder;
    background: #ADD8E6;
    font-size: smaller;
    padding:1%;
    margin:0.2%;
    
}

#maindiv #plans .masterdiv .content{

    display: inline-block;
    padding-left: 2%;
    font-size: smaller;

}
#maindiv #plans .masterdiv{
    background: #E6E6FA;
}
#plans
{
    display:none;
}
